body 
{ 
background: url(../img/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@font-face
{
font-family: CKanHK;
src: url('../fonts/CKanHK-Xbold.otf');
}

.spaceBanner 
{
    margin-top: 50px;
}

h2
{
	font-family: CKanHK
} 