body 
{ 
background: url(../img/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@font-face
{
font-family: CKanHK;
src: url('../fonts/CKanHK-Xbold.otf');
}

.spaceBanner 
{
    margin-top: 50px;
}

h2
{
	font-family: CKanHK
} 

hr
{
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid black;
    margin: 1em 0; 
    padding: 0; 
}

/* Side menu style */
.side-menu ul li
{
	list-style-type: none;
    border-bottom: 1px solid #333;
}

/* TOC style */
.toc ul
{
	list-style-type:none;
}

.toc, .side-menu
{
        list-style-type:none;
        margin:0;
        padding:0;
        font-family: Arial;
        font-size: 20px;
        text-decoration:none;
}

.toc li a, .side-menu li a
{
        transition:.5s;
}

.toc li a:link, .toc li a:visited, .side-menu li a:link, .side-menu li a:visited
{
        color: grey;
        text-decoration:none;
}

.toc li a:hover, .toc li a:active, .side-menu li a:hover, .side-menu li a:active
{
        color: black;
        text-decoration:none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
